.title {
    color: #c7a3b5;
    font-weight: 300;
    font-family: Lato, Arial, Helvetica, sans-serif;
    margin-left: 15px;
}

.calendar {
    /*--calendar-size 사이즈 조정 시 전체적인 달력 크기 변경*/
    --calendar-size: 350px;
    min-width: 280px;
    width: var(--calendar-size);
    /* margin: 1em auto 0 auto; */
    margin: 50px auto 0 20px;
    padding: 0.5em;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 20px 0 rgb(0 0 0 / 20%)
}

.calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: -48px -16px 40px;
    padding: 8px 16px;
    border-radius: 15px 15px 0 0;
    font-weight: 500;
    height: 80px;
    color: #fff;
    background-image: linear-gradient(90deg, #e0caca, #d4b8ca, #c7a3b5);

}

.day-of {
    display: flex;
    flex-direction: column;
}

.day-of-month {
    font-size: 100%;
}

.day-of-year {
    font-size: 0.6em;
}

.bxs-left-arrow,
.bxs-right-arrow {
    opacity: 0.6;
}

.bxs-left-arrow {
    margin-left: 12px;
}

.bxs-right-arrow {
    margin-right: 12px;
}

.bxs-left-arrow,
.bxs-right-arrow {
    opacity: 0.8;
}

.bxs-left-arrow:hover,
.bxs-right-arrow:hover {
    opacity: 1;
}

/*실질적인 그리드 설정 컬럼 7*/
.day-of-week,
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-of-week {
    margin-top: 1.0em;
}

.day-of-week>* {
    font-size: 0.5em;
    color: var(--blue-grey-400);
    font-weight: 500;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-align: center;
}

/*날짜*/
.calendar-grid {
    margin-top: 0.5em;
}

/*각각의 날짜 하나에 스타일 지정*/
.calendar-grid button {
    position: relative;
    font-size: max(calc((var(--calendar-size) / 100) * 7), 20px);
    border: 0;
    min-width: 40px;
    min-height: 40px;
    width: calc(var(--calendar-size) / 7);
    height: calc(var(--calendar-size) / 7);
    border-radius: 50%;
    background-color: transparent;
}

.calendar-grid button.today {
    border: #FFC1CB solid 4px;
}

.calendar-grid button.disable {
    color: var(--blue-grey-100);
}

.calendar-grid button.active {
    color: var(--blue-grey-500);
}

.calendar-grid button.active:hover {
    outline: none;
    background-color: #DCB1BF;
    color: var(--teal-900);
}

.calendar-grid button.active:nth-child(7n) {
    color: blue
}

.calendar-grid button.offday,
.calendar-grid button.active:nth-child(7n + 1) {
    color: tomato
}

.calendar-grid button.active.sel_day {
    background-color: rgb(253, 134, 98);
    opacity: 0.8;
}

.calendar-grid button.disable:nth-child(7n) {
    color: rgb(179, 179, 255)
}

.calendar-grid button.offday,
.calendar-grid button.disable:nth-child(7n + 1) {
    color: rgb(255, 204, 195)
}

.date-picker {
    width: 200px;
    height: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    font-size: 0.5em;
    color: var(--blue-grey-300);
    cursor: pointer;
    border: var(--blue-grey-300) solid 1px;
    border-radius: 5px;
}

@media (min-width: 280px) {
    .calendar-grid button {
        --width: var(--width-tablet);
        /* Width of the element on tablet and up */
    }
}